In [1]:
import pandas as pd
import numpy as np

import plotly
plotly.tools.set_credentials_file(username='arthur.antunes.aa', api_key='yWmGYZtFriEIlAzmKv0H')
import plotly.graph_objs as go 
from plotly import tools
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot as py
import plotly.plotly as py

In [2]:
colunas = ['Rodada', 'Status', 'GolsFeitoNaPartida', 'GolsLevadosNaPartida']
data = pd.read_csv('fla.csv', names=colunas)

In [3]:
data.head()

   Rodada  Status   GolsFeitoNaPartida   GolsLevadosNaPartida
0  Rodada  Status   GolsFeitoNaPartida   GolsLevadosNaPartida
1      26       V                    2                      1
2      25       V                    2                      0
3      24       V                    3                      1
4      23       V                    1                      0

In [4]:
data = data.sort_values(by=['Rodada'])

In [5]:
data

    Rodada  Status   GolsFeitoNaPartida   GolsLevadosNaPartida
26      01       V                    3                      1
25      02       D                    1                      2
24      03       E                    1                      1
23      04       V                    2                      1
22      05       D                    1                      2
21      06       V                    3                      2
20      07       V                    2                      0
19      08       E                    0                      0
18      09       V                    2                      0
17      10       V                    6                      1
16      11       E                    1                      1
15      12       V                    3                      2
14      13       V                    3                      0
13      14       V                    3                      1
12      15       V                    4                      1
11      16       V                    3                      0
10      17       V                    3                      0
9       18       V                    3                      0
8       19       V                    1                      0
7       20       V                    2                      1
6       21       V                    3                      1
5       22       E                    0                      0
4       23       V                    1                      0
3       24       V                    3                      1
2       25       V                    2                      0
1       26       V                    2                      1
0   Rodada  Status   GolsFeitoNaPartida   GolsLevadosNaPartida

In [6]:
data.drop(data.tail(1).index,inplace=True)

In [27]:
data.head(10)

   Rodada Status GolsFeitoNaPartida GolsLevadosNaPartida
26     01      V                  3                    1
25     02      D                  1                    2
24     03      E                  1                    1
23     04      V                  2                    1
22     05      D                  1                    2
21     06      V                  3                    2
20     07      V                  2                    0
19     08      E                  0                    0
18     09      V                  2                    0
17     10      V                  6                    1

In [8]:
rodada = list(data['Rodada'])
golsFeitos = list(data['GolsFeitoNaPartida'])
golsLevados = list(data['GolsLevadosNaPartida'])

In [9]:
rodada = np.asarray(list(map(int, rodada)))
golsFeitos = np.asarray(list(map(int, golsFeitos)))
golsLevados = np.asarray(list(map(int, golsLevados)))

In [71]:
result = 0
result2 = 0
soma_gols_feitos = []
soma_gols_sofridos = []
for i in range(0,25):
    result = result + golsFeitos[i]
    result2 = result2 + golsLevados[i]
    soma_gols_sofridos.append(result2)
    soma_gols_feitos.append(result)

In [80]:
trace1 = go.Scatter(x=rodada, y=soma_gols_feitos, mode="lines",  
                    line = dict(
                        color = ('rgb(255, 0, 0)'),
                        width = 4),
                    name='Gols Feitos')

trace2 = go.Scatter(x=rodada, y=soma_gols_sofridos, mode="lines",  
                    line = dict(
                        color = ('rgb(0, 0, 0)'),
                        width = 4),
                    name='Gols Levados')
                                               
trace = [trace1,trace2]


layout = dict(title = 'Gols feitos e sofridos por rodada Flamengo Brasileirão 2019',
              xaxis = dict(title = 'Rodadas'),
              yaxis = dict(title = 'Número de gols'),
              )

fig = dict(data=trace, layout=layout)

py.iplot(fig, filename='scatter-mode')

In [79]:
from plotly import graph_objs as go

text= ["1","2","3","4","5","6","7","8","9","10", "11","12","13","14","15","16","17","18","19",
      "20","21","22","23","24","25","26","27","28","29","30",
      "31","32","33","34","35","36"]

fig = go.Figure()
fig.add_trace(go.Bar(
    x=text,
    y=golsFeitos,
    name='Gols Feitos',
    marker_color='red'
))
fig.add_trace(go.Bar(
    x=text,
    y=golsLevados,
    name='Gols Sofridos',
    marker_color='black'
))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.layout.update(barmode='group', xaxis_tickangle=-45)
fig.show()
py.iplot(fig, filename='scatter-mode')